name: API Test CI/CD
on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
  steps:
    - name: 拉取仓库代码
      uses: actions/checkout@v4

    - name: 设置 Python 环境
      uses: actions/setup-python@v5
      with:
            python-version: '3.12'
    - name: 安装依赖
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt update && sudo apt intall -y allure

    - name: 执行启动程序
      run: |
            python3 start.py

    - name: 部署报告到Github Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./reports/index.html
        public_branch: gh-pages